.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 30px;
}

.dropdown_container {
  border: none;
  background-color: transparent;
  color: var(--gray-600);
  font-size: 1rem;
  font-weight: 500;
}

.dropdown_item span {
  color: var(--gray-600);
  font-size: 1rem;
  font-weight: 500;
}

.canvas_wrapper {
  position: relative;
  width: 100%;
  min-width: 380px;
  // max-width: 680px;
  height: 100%;
  min-height: 190px;
}
