.container {
  width: 290px;
  min-width: 290px;
  min-height: 100vh;
  background-color: var(--gray-600);
  transition: all 0.3s ease;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    border-bottom: 1px solid var(--gray-400);
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 30px;
    gap: 1.5rem;

    a {
      display: inline-flex;
      align-items: center;
      position: relative;
      gap: 0.75rem;
      font-size: 1.125rem;
      font-weight: 500;
      color: var(--gray-400);
      text-decoration: none;
      transition: all 0.1s ease-in;

      svg {
        min-width: 24px;
        min-height: 24px;
      }

      &:hover {
        color: var(--primary-300);

        svg:not(.stroke) {
          path {
            fill: var(--primary-300);
          }
        }

        svg.stroke {
          path {
            stroke: var(--primary-300);
          }
        }
      }

      &.active {
        color: var(--primary-500);
        font-weight: 700;

        svg:not(.stroke) path {
          fill: var(--primary-500);
        }

        svg.stroke path {
          stroke: var(--primary-500);
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          height: 100%;
          width: 4px;
          background-color: var(--primary-500);
          border-radius: 25px;
        }
      }

      svg path {
        color: var(--gray-400);
        transition: all 0.1s ease-in;
      }
    }
  }
}

.closed {
  transform: translateX(-100%);
}

.open {
  transform: translateX(0);
}

:export {
  active: active;
}
