.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, var(--small-col)));
  gap: 20px;
}

.content_block.icon_block {
  align-items: center;
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
