.team_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;

  > div {
    align-items: center;
    flex-grow: 1;

    img {
      margin-bottom: 10px;
    }

    > h1 {
      margin: 0 !important;
      text-align: center;
    }

    > p {
      margin: 0;
    }

    > a {
      margin: 0;
    }
  }
}

.credits {
  display: block;
  margin-top: 20px;
  font-size: 0.75rem !important;
  text-decoration: underline;
}
